body {
    background-color: #0E553B;
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
}


.logo {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
 
.booking-step {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 1px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: #3f7f69;
  font-weight: 300;
  color: #cfe6dd;
  font-weight: 500;
}

.step .circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #cfe6dd;
  color: #0E553B;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Étape active */
.step.active {
  background-color: #e9f1ee;
  font-weight: 700;
  font-family: "Alegreya Sans", "Open Sans", sans-serif;
  color: #0E553B;
}

.step.active .circle {
  background-color: #0f4f3a;
  color: #ffffff;
}

/*BOOKING INFO 1*/
.field-wrapper {
    position: relative;
}

#booking-form {
    margin: 50px auto;
}

.booking-input {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 15px auto;
    border-radius: 6px;
    border: 1px solid transparent;
    font-size: 16px;
    width: 400;
}

/*Dans la box*/
.floating-label {
    position: absolute;
    top: 50%;
    left: 500px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #80aa9a;
    pointer-events: none;
    transition: 0.2s ease;
}

/* quand focus OU valeur réelle */
/*A l'extérieur de la box*/
.booking-input:focus + .floating-label,
.booking-input.has-value + .floating-label {
    top: 6px;
    font-size: 5px;
    color: rgba(255, 255, 255, 0);
}

/* Masque le texte natif des inputs date & time */
.booking-input[type="date"],
.booking-input[type="time"] {
    color: transparent;
    caret-color: transparent;
}

/* Affiche le texte quand focus OU valeur réelle */
.booking-input[type="date"]:focus,
.booking-input[type="date"].has-value,
.booking-input[type="time"]:focus,
.booking-input[type="time"].has-value {
    color: #0E553B;
    caret-color: #0E553B;
}

.booking-input[type="number"].has-value{
  color:#0E553B
}
/*BOOKING INFO END 1*/

a{
  text-decoration: none;
}

.booking-button {
    font-style: normal;
    text-align: center;
    color: #0E553B;
    background-color: white;
    padding: 5px;
    width: 400px;
    margin: 10px auto;
    border-radius: 5px;
    transition: 0.03 ease;
    box-shadow: 5px 5px 5px #1C352D;
}

.booking-button:hover {
    background-color: #3f7f69;
    color: #ffffff;
}

/*BOOKING INFO 2*/

#booking-coor {
    margin: 50px auto;
}

.booking-input[type="email"].has-value, 
.booking-input[type="name"].has-value, 
.booking-input[type="phone"].has-value {
  color:#0E553B
}
/*BOOKING INFO END 2*/