body {
    background-color: #0E553B;
}

.logo {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
 
.booking-step {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;  
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #0E553B;
    background-color: white;
    padding: 5px;
    width: 200px;
    margin: 25px auto;
    border-radius: 5px;
}

.booking-info {
    font-family: "Alegrya Sans", sans-serif;
    font-weight: lighter;
    text-align: left;
    color: #0E553B;
    background-color: white;
    padding: 5px;
    width: 400px;
    margin: 25px auto;
    border-radius: 5px;
}

.booking-button{
    font-family: "Alegrya Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #0E553B;
    background-color: white;
    padding: 5px;
    width: 400px;
    margin: 25px auto;
    border-radius: 5px;
    transition: 0.03 ease;
    box-shadow: 5px 5px 5px #1C352D;
}

.booking-button:hover {
    background-color: #91cda2;
}
